.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 1px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
}
