/* Add this CSS to your global stylesheet or as a scoped CSS module */

/* Default - Desktop */
.responsive-height {
    height: auto; /* Default height for desktop */
    max-height: none; /* Allow height to adjust */
}

/* Mobile - Max height 200px */
@media (max-width: 768px) {
    .responsive-height {
        height: auto; /* Maintain responsiveness */
        max-height: 200px; /* Restrict height on small screens */
    }
}



.slick-dots .slick-active div {
    background-color: #1d4ed8; /* Rich blue for the active dot */
    transform: scale(1.3); /* Slight enlargement for emphasis */
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
  }
  